<footer class="ec-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ec-brand">
                    <a asp-controller="Home" asp-action="Index" title="Som3a">
                        <img class="ec-brand-icon" src="~/images/logo/logo.jpeg" alt="TechSpot Logo" style="max-width: 50px; vertical-align: middle;" />
                        <span class="ec-brand-name">TechSpot</span>
                    </a>
                </div>
                <p class="text-muted">© 2024 TechSpot. All rights reserved.</p>
            </div>
            <div class="container mt-4">
                <div class="row">
                   
                   <div class="col-md-6 text-center">
                        <h5 class="mb-3">Follow Us</h5>
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="https://facebook.com/M7med.Esmail22" target="_blank" aria-label="Facebook">
                                    <i class="mdi mdi-facebook"></i> Facebook
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://wa.me/+201062838535" target="_blank" aria-label="WhatsApp">
                                    <i class="mdi mdi-whatsapp"></i> WhatsApp
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://instagram.com/mohamed_esmail_00" target="_blank" aria-label="Instagram">
                                    <i class="mdi mdi-instagram"></i> Instagram
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


    </div>
</footer>
